<h1>Recipe List</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.title, recipe%>
    </li>
  <% end %>
</ul>

<p><%= link_to "Check the ingredients list", "ingredients" %></p>

<p><%= link_to "Add new recipe", new_recipe_path(@recipe) %></p>
<p><%= link_to "Add new ingredient", new_ingredient_path(@ingredient) %></p>